# ========================
# Node
# ========================
node_modules
dist

# ========================
# Environment
# ========================
.env
.env.*

# ========================
# Logs
# ========================
*.log

# ========================
# IDE
# ========================
.vscode

# ========================
# Doc
# ========================
docs/wiki
docs/annexes